.row
  .col-xs-12
    h3 {{title}}
.row
  .col-xs-3
    form(novalidate, name='conditionsForm', role='form')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(name='zip', type='text', ng-model='zip', ng-pattern='/^[0-9]{5}$/', required, autofocus)
      .form-group
        button.btn.btn-success(ng-show='conditionsForm.$valid', ng-click='getConditions()') Get Conditions
  .col-xs-9
.row(ng-show='conditions')
  .col-xs-3
    .panel.panel-default
      .panel-body
        h4 {{conditions.temp_f}} &deg;F
        img(ng-src='{{conditions.icon_url}}')
  .col-xs-9

